//
   Created by SaikrishnaTeja on 3/3/16.
extends layout
block content
    script(src="/javascripts/_home.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")

    body(onload="loadDataSources()")
        div.container-fluid
            div.row
                div.col-sm-12
                    nav.navbar.navbar-fixed-top.navbar-default(style="margin-bottom:0px")
                        div.navbar-header
                            a.navbar-brand(style="font-size:26px;" href="#") DataDirect Cloud Viz
                            a(style="text-align:right" onclick="logout()") Logout


            div.content(style="margin-top: 10%")
                input.user(type="hidden" value=new Buffer("#{user}").toString('base64'))
                input.acces(type="hidden" value=new Buffer("#{pass}").toString('base64'))

                form(method="post", id="selectdatasource", style="margin-top: 10%;" action="/home")

                    center
                        div.DataSource
                            select.drpdwnDataSource.form-control(style="width: 250px;text-align: center" onchange="loadTables()" name="datasource")
                                option(value="" disabled selected) Select your DataSource

                        div.tables(style="margin-top:1%; opacity: 0" onchange="showSubmit()")
                            select.drpdwntables.form-control(style="width: 250px;text-align: center" name="table")
                                option(value="" disabled selected) Select Table

                        div.submit(style="margin-top:1%; opacity: 0")
                            input.btn.btn-primary(type="submit", value="Visualize")
